body {
  background: radial-gradient(circle, #0f2027, #203a43, #2c5364);
  font-family: Arial;
  color: white;
  text-align: center;
}
.container {
  width: 360px;
  margin: auto;
  padding: 20px;
  background: #111;
  border-radius: 20px;
  box-shadow: 0 0 20px cyan;
}
h1 {
  color: #00ffff;
}
input {
  padding: 8px;
  width: 70%;
  border-radius: 6px;
  border: none;
}
button {
  padding: 8px 12px;
  background: #00ffff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
#quote {
  color: gold;
  font-style: italic;
}
li {
  background: #222;
  margin: 8px;
  padding: 8px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
}
.done {
  text-decoration: line-through;
  color: gray;
}
.timer {
  margin-top: 20px;
}
